.direnv/
.env
.pre-commit-config.yaml
.vscode
dist-newstyle/
result
frontend/elm-stuff/
# some stuff I automatically build with dev.sh
frontend/static/main.js
frontend/static/main.css*
frontend/src/Generated
