#highlighting-element {
  // We do animation in JS
  transition: none;
  position: fixed;
  z-index: 100000;
  box-sizing: border-box;
  border: solid lightblue 2pt;
  box-shadow: inset 0 0 15pt 0 black;
  pointer-events: none;
}