#dir-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // Need to set the height so the poster shrinks if it's too big, otherwise this container just grows
  height: 100%;
  width: 100%;

  >* {
    flex-shrink: 0;
  }

  img.header {
    flex-shrink: 1;
    object-fit: contain;
    min-height: 50svh;
    max-width: 100dvw;
  }

  .section {
    max-width: calc(100% - 2rem);
    white-space: nowrap;
    padding: 0 0 1rem 0;
    margin: 0;
    display: grid;
    grid-template-columns: auto max-content max-content max-content;

    h1,
    h2 {
      grid-column: 1 / span 3;
    }

    .row {
      // display: contents makes it as if the element doesn't exist, and thus the children will be in the grid
      display: contents;

      .name {
        overflow: hidden;
        padding: 0.5rem 1rem;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;

        .prefix {
          flex: 0 1 auto;
          overflow: hidden;
          text-overflow: ellipsis;
          direction: rtl;
        }

        .unique {
          flex: 0 0 auto;
        }

        .suffix {
          // Infinite flex-shrink so this fully shrinks before prefix shrinks
          flex: 0 calc(infinity) auto;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      >* {
        display: flex;
        padding: 0.5rem;
        align-items: center;
        justify-content: center;
      }

      a {
        text-decoration: none;
        color: inherit;
      }

      i {
        font-size: 1.5em;
      }
    }

    .white {
      color: white;
    }

    .unwatched,
    .unwatched button.like-link {
      // slightly punchier lightblue
      color: hsl(195, 75%, 79%);
    }

    .watching,
    .watching button.like-link {
      color: pink;
    }

    .watched,
    .watched button.like-link {
      color: grey;
    }
  }

  h1,
  h2,
  h3 {
    margin: 0;
    text-align: center;

    .sub-title {
      font-size: 80%;
      opacity: 0.5;
    }
  }

  .bottom-spacer {
    padding-bottom: 0.5rem;
  }

  .white {
    color: white;
  }
}