$header-height: 3rem;

body {
  /* Reserve some space for the top menu */
  padding-top: calc($header-height * 1.1);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100dvw;
  z-index: 1000;
  height: $header-height;

  display: flex;
  // gap: 1.5rem;
  align-items: stretch;
  background-color: rgba(0, 0, 0, 0.75);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);

  >a,
  >a:visited,
  >div,
  >button.like-link {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.75rem;
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0 0.75rem;
    white-space: nowrap;

    // Technically not needed as I auto-hide labels, but as a backup as I've only really tested on my own machines
    min-width: 0;
    flex: 0 1 auto;

    >i {
      font-size: 2rem;
    }

    >svg {
      width: 2.4rem;
      height: 2.4rem;
      color: black;
      fill: white;
    }

    .auto-hiding-label {
      &.hides-first {
        @media (max-width: 50rem) {
          display: none;
        }
      }

      &.hides-second {
        @media (max-width: 45rem) {
          display: none;
        }
      }

      // Ideally this is not needed as I hide them, but I only really tested on my own machines
      overflow: hidden;
    }

  }

  .url-qr {
    flex-shrink: 0;
    background: white;
    padding: 0.15rem;
    margin: 0.15rem;
    border-radius: 0.15rem;

    transform-origin: top left;
    transition: scale 0.2s;


    // Hover effect only for devices that actually support hovering properly, so not for touch devices.
    @media (hover: hover) {
      &:hover {
        scale: 500%;
      }
    }
  }

  .separator {
    flex-grow: 1;
    padding: 0;
  }
}