@use "_header.scss";
@use "_home.scss";

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;

  color: white;
  background: black;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: sans-serif;
}