@use "_header.scss";
@use "_home.scss";
@use "_dir.scss";
@use "_ips.scss";
@use "_input.scss";
@use "_buttonsGrid.scss";
@use "_arrowNav.scss";

body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;

  color: white;
  background: black;
  word-break: break-word;
  overflow-wrap: break-word;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

*:focus {
  // We have our own outline that moves and animates nicely through JS
  outline: none;
}

button.like-link {
  background: none;
  border: none;
  padding: 0;
  outline: inherit;
  color: lightblue;
  font: inherit;
  cursor: pointer;
  // text-decoration: underline;

  &:disabled {
    color: grey;
    pointer-events: none;
  }
}

.large {
  font-size: 1.25em;
}

.qr {
  background: white;
}

.rotating {
  @keyframes rotating {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }

  animation: rotating 0.75s linear infinite;
}